html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f0f0f0;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.chalkboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1600px; /* Increased max-width */
  margin: 0 auto;
}

.note {
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  background-color: #f7dc6f;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-basis: calc(100% / 8 - 16px); /* Adjusted for 8 columns */
}

.note-content {
  word-wrap: break-word;
}

.delete-btn {
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* Add dark mode styles */
.dark-mode {
  background-color: #333;
  color: #f1f1f1;
}

.dark-mode .chalkboard {
  background-color: #444;
}

.dark-mode .note {
  background-color: #555;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .delete-btn {
  background-color: #666;
  color: #f1f1f1;
}

.dark-mode .note-form {
  background-color: #444;
}

.dark-mode .note-form button {
  background-color: #666;
  color: #f1f1f1;
}
